body{
  
    margin: 0px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html,body
{
    width: 100%;
    height: 100%;
  overflow-x: hidden; 
}



.navbar{
    padding: 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px -9px 8px 15px rgba(0,0,0,0.24);
    box-shadow: 5px -9px 8px 15px rgba(0,0,0,0.24);
    box-shadow: 5px -9px 8px 15px rgba(0,0,0,0.24);
    
}
.navbar .left img {
width: 60px; 
margin-right: 20 px ;
}
.navbar .left div{
    text-transform:uppercase;
    font-weight: 600;
    
}
.navbar .left{
    display: flex;
    align-items:center ;

}
.navbar .left >*,
.container >*
{
    padding: 20px;
    
}

.right{
    
    display:flex ;
    align-items: center;
    justify-content: space-around;
}
.right .container{
   display: flex;
   align-items: center;
  margin: left 200px; ;
  margin-right: 4rem;
   
   
}
.container .col-1{
    margin-right: 3rem;
    display: flex;
    align-items: center;

}
.container .col-2{
    display: flex;
    align-items: center;
}
 .right div img{
    height: 1.5rem;
    margin-right: -4.5rem;
    }   

 .container .text{
    font-size: medium;
    margin-top: 0px;
    margin-left: 85px;

    
}
.signin
{
    margin-left: 10px;
    font-weight: 700;
    border:1px solid black;
    border-radius: 45px;
    padding: 9px 23px;
    margin: 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    
}
.join {
    margin-left: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 9px 23px;
    border-radius:45px ;
    font-size: 14px;
    font-weight: bold;

}
.space{
    width: 741px;
    height: 570px;
    background-color:#f6bfd9;
    margin-top: 35px;
    max-width:fit-content;
}
.leftd img{
    width: 721px;
    margin-left: 741px;
    height: 570px;
}
.leftd .head1{
    margin-top: -456px;
    text-align: center;
    margin-left: 25px;
    font-size: 44px;
    color:#043a27 ;
    
}
.leftd .para1{
    margin-top: 10px;
    align-items:normal;
    color:#043a27 ;
    margin-left: 30px;
    font-size: 21px;
    text-align: center;
         
}



.second{
    width: 741px;
    height: 250px;
    margin-top: 20px;
}
.but1{
    padding: 9px 21px;
    border-radius: 35px;
    background-color:transparent ;
    border-color:1px solid #00623f ;
    font-size: 15px;
    font-weight: bold;
    margin-left: 311px;
    margin-top: 13px;
}
.img2 img{
    width: 50.5%;
    margin-top: 37px;
}
.space2{
    
        width: 721px;
        height: 288px;
        margin-top: -291px;
        margin-left: 740px;
        background-color:#d4e9e2;
}
.head2 h2{
    margin-top: -237px;
    text-align: center;
    margin-left: 759px;
    font-size: 23px;
    color:#043a27 ;
    font-weight: bold;
    

}
.para2 p{
    margin-top: 29px;
    align-items:normal;
    color:#043a27 ;
    margin-left: 761px;
    font-size: 18px;
    text-align: center;
         
}
.but2{
    padding: 9px 21px;
    border-radius: 35px;
    background-color:transparent ;
    border-color:0.5px solid #00623f ;
    font-size: 15px;
    font-weight: bold;
    margin-left: 1054px;
    margin-top: 21px;

}
.space3{
    width: 741px;
    height: 640px;
    margin-top: 70px;
    background-color:#ffc519 ;

}
.img3 img{
    width: 721px;
    margin-left: 740px;
    height: 640px;
    margin-top: 0px;
}
.head3 h2{
    margin-top: -450px;
    text-align: center;
    margin-left: -13px;
    font-size: 48px;
    color:#253d35 ;
    font-weight: 700;

}
.para3 p{
    margin-top: -12px;
    align-items:normal;
    color:#043a27 ;
    margin-left: -21px;
    font-size: 22px;
    text-align: center;


}
.but3{
    padding: 9px 21px;
    border-radius: 35px;
    background-color:transparent ;
    border-color:0.5px solid #5a6b65 ;
    font-size: 15px;
    font-weight: bold;
    margin-left: 293px;
    margin-top: 11px;

}
.space4{
    width: 1465px;
    height: 650px;
    margin-top: 38px;
    background-color:#fff4d4 ;
    

}
.img4 img{
    width: 50%;
    margin-top: 14px;
}
.head4 h2{
    margin-top:-472px;
    text-align: center;
    margin-left: 680px;
    font-size: 48px;
    color:#253d35 ;
    font-weight: 700;
    word-spacing: 3px;
    font-weight: 700;


}
.para4 p{
    margin-top: 0px;
    align-items:normal;
    color:#043a27 ;
    margin-left: 680px;
    font-size: 22px;
    text-align: center;
    

}
.but4{
    padding: 9px 21px;
    border-radius: 35px;
    background-color:transparent ;
    border-color:0.5px solid #5a6b65 ;
    font-size: 15px;
    font-weight: bold;
    margin-left:1018px;
    margin-top: 17px;

}
.space5{
    width: 1465px;
    height: 650px;
    margin-top: 38px;
    background-color:#a0c292 ;
}
.img5 img{
    width: 50%;
    margin-left: 732px;
    margin-top: 14px;
}
.head5 h2{
    margin-top:-460px;
    text-align: center;
    margin-left: -700px;
    font-size: 48px;
    color:#043a27 ;
    font-weight: 700;
    word-spacing: 3px;
    font-weight: 700;


}
.para5 p{
    margin-top: 0px;
    align-items:normal;
    color:#043a27 ;
    margin-left: -703px;
    font-size: 22px;
    text-align: center;
    

}
.but5{
    padding: 9px 21px;
    border-radius: 35px;
    background-color:transparent ;
    border-color:1px solid #0e5c41 ;
    font-size: 15px;
    font-weight: bold;
    margin-left:319px;
    margin-top: 17px;

}
.space6{
    width: 1465px;
    height: 420px;
    margin-top: 38px;
    background-color:#f0f0ea;

}
.img6 img{
    width: 49%;
    margin-left:0px;
    margin-top: 0px;
}
.head6 h2{
    margin-top:-314px;
    text-align: center;
    margin-left: 746px;
    font-size: 22px;
    color:#043a27 ;
    font-weight: 700;
    word-spacing: 3px;
    font-weight: 700;
    

}
.para6 p{
    margin-top: 0px;
    align-items:normal;
    color:#043a27 ;
    margin-left: 754px;
    font-size: 22px;
    text-align: center;
    
} 
.but6{
    padding: 9px 21px;
    border-radius: 35px;
    background-color:transparent ;
    border-color:1px solid #0e5c41 ;
    font-size: 15px;
    font-weight: bold;
    margin-left:1035px;
    margin-top: 17px;

}
.footpara h2{
    margin-top: 222px;
    align-items:normal;
    color:#000000 ;
    margin-left:-11px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;

}

.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    color: rgb(115, 118, 122);
    background-color:rgb(255, 255, 255);
    padding: 12px 256px 20px 27px;
    padding-bottom:-1px;

    
    
}
.footer.list{
    margin-inline: 33px;
    margin-left: 10px;
}
.HEAD1,
.HEAD2,
.HEAD3,
.HEAD4,
.HEAD5{
    font-size: 20PX;
    font-weight: lighter;
    color: #000000;

}
.footpara1{
    color: #000000;
}
.footpara2 h2{

    margin-top: 118px;
    align-items:normal;
    color:#000000 ;
    margin-left:-11px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    
}
.footpara3{
    color: #000000;
}
.one hr{
    margin-top: 100px;

}
.list p{
    padding: -10px;
}
.spotify img{
    width: 59px;
    margin-top: 21px;
    margin-left: 30px;

}
.facebook img{
    width: 39px;
    margin-top: -54px;
    margin-left: 100px;
    display: flex;
}
.pininterst img{
    width: 42px;
    margin-top: -39px;
    margin-left: 154px;
    display: flex;


}
.instagram img{
    width: 58px;
    margin-top: -43px;
    margin-left: 200px;
    display: flex;


}
.youtube img{
    width: 42px;
    margin-top: -43px;
    margin-left: 263px;
    display: flex;

}
.twitter img{
    width: 39px;
    margin-top: -40px;
    margin-left: 321px;
    display: flex;

}
.finaltext {
    display: flex;
    list-style-type: none;
    gap: 1.9rem;
    margin-top: 40px;
    

}
 .finaltext1{
    color: #5a6b65;
    margin-left: 34px;
    margin-top: 20px;
 }
 .line1{
    width: 1385px;
 }
 
